<h1>Edit Here</h1>

<form action="<%=band_url%>" method='POST'>
<%= auth_token %>
<label for="Edit">Edit:
    <input type='text' name='band[name]' value='Enter New Name here'>
</label>

<input type="submit" value='Submit'>

</form>