

<h1>Add a New Band</h1>

<form action="<%=bands_url%>" method='POST'>
    <%=auth_token%>
    <label for="bands">Enter Your Favorite Band
        <input type="text" name='band[name]' value=''>
    </label>

    <input type='submit' value='Submit'>
</form>